langchain_experimental==0.3.4
chromadb
jq
langchain
langchain-text-splitters
langchain_community
langchain-openai
langchain-core
langgraph
openai
pyats[full]
pypdf
tiktoken
scikit-learn
streamlit
mcp
pydantic
python-dotenv